@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "IT Enterprise";
}

<div class="text-center">
    <h2 class="display-4">Bienvenido</h2><strong>@ViewBag.NombreUsuario</strong>
    <br/>
    <button type="button" class="btn text-dark btn-lg" style="background-color: #D4BBA9">Ingresar</button>
   
</div>
